set clipboard+=unnamed
set clipboard+=ideaput
set hlsearch
set incsearch
set ignorecase
set smartcase
set visualbell
set t_vb=
set scrolloff=5
set relativenumber
set number

" Scroll 10 lines down/up
nnoremap <C-j> 10j
nnoremap <C-k> 10k
vnoremap <C-j> 10j
vnoremap <C-k> 10k

" Fix annoying delete and clipboard behavior
"nnoremap x "_x
"vnoremap x "_x
"nnoremap X "_X
"vnoremap X "_X
"nnoremap d "_d
"nnoremap D "_D
"vnoremap d "_d
"vnoremap D "_D
"nnoremap c "_c
"vnoremap c "_c
"nnoremap C "_C
"vnoremap C "_C


" Leader key configuration
let mapleader = " "
nnoremap <Space> <Nop>

" Search-related mappings
nnoremap <leader>e :set hlsearch!<CR>

" Window and tool window mappings
nnoremap <leader>t :action ActivateTerminalToolWindow<CR>
nnoremap <leader>fe :action ActivateProjectToolWindow<CR>

" Refactoring and navigation mappings
nnoremap <leader>rr :action Refactorings.QuickListPopupAction<CR>
nnoremap <leader>rn :action RenameElement<CR>
nnoremap <leader>re :action ExtractInterface<CR>
nnoremap <leader>rm :action Move<CR>
nnoremap <leader>ra :action ShowIntentionActions<CR>
vnoremap <leader>ra :action ShowIntentionActions<CR>
nnoremap <leader>ri :action ImplementMethods<CR>
nnoremap <leader>rs :action ChangeSignature<CR>

" Navigation and search mappings
nnoremap <leader>nf :action SearchEverywhere<CR>
nnoremap <leader><leader> :action FileStructurePopup<CR>
nnoremap gr :action FindUsages<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gs :action ChangesView.EditSource<CR>
nnoremap gu :action GotoSuperMethod<CR>

nnoremap <leader>cr :action CopyReference<CR>

" File and recent files mappings
nnoremap <leader>fr :action RecentFiles<CR>
nnoremap <leader>fa :action SelectInProjectView<CR>
nnoremap <leader>fo :action Diff.OpenInEditor<CR>

" Code actions and formatting mappings
nnoremap <leader>bb :action BuildCurrentProject<CR>
nnoremap <leader>br :action RebuildCurrentProject<CR>
nnoremap <leader>cf :action ReformatCode<CR>
nnoremap <leader>cd :action Rider.ProblemsView.ErrorsInSolution<CR>
nnoremap <leader>cp :action ParameterInfo<CR>
nnoremap <leader>yp :action CopyAbsolutePath<CR>
nnoremap <leader>yn :action CopyFileName<CR>
nnoremap <leader>yr :action CopyPathFromRepositoryRootProvider<CR>
